rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow read and write access to the authenticated user's own documents
    match /users/{userId}/{document=**} {
      allow read, write: if request.auth.uid == userId;
    }
  }
}
